.arrow {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--color-quaternary);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow:hover {
    color: var(--color-primary);
  }
  .arrow:active {
    background-color: var(--color-quinary);
  }
  .arrow:hover svg {
    color: var(--color-primary);
  }
  .arrow:hover svg path {
    fill: currentColor;
  }
  