.container {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 
    inset -10px 0 15px rgba(0, 0, 0, 0.4),  
    inset 0 10px 15px rgba(0, 0, 0, 0.4);   
  }
  
  .status {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    background: #2e2e2e;
    width: 110px;
    height: 28px;
    color: white;
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  .statusText{
    margin-left: 10px;
  }
  
  .statusDot {
    width: 10px;
    height: 10px;
    background: #8df100;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  @media (max-width: 480px) {
    .container {
      box-shadow: 
    inset 10px 0 15px rgba(0, 0, 0, 0.4), 
    inset 0 10px 15px rgba(0, 0, 0, 0.4);
    }
    .image{
      z-index: -1;
      border-radius: 20px;
    }
  }

  .infoOverlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    height: 12.25rem;
    font-family: 'Roboto Condensed Regular';
    max-height: 12.25rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px;
    z-index: 2;
  }
  @media (max-width: 480px) {
    .infoOverlay {
      height: 5.25rem;
      padding-bottom: 1rem;
      padding-top: 0.5rem;
      padding-right: 1.5rem;
    }
  }
  
  .name {
    color: #8df100;
    margin-bottom: 4px;
    font-weight: normal
    
  }
  .infoOverlayContent{
    height: 50%;
  }
  .subinfo {
    color: white;
    line-height: 1.2;
  }
  @media (max-width: 480px) {
    .infoOverlayContent{
      font-size: 1rem;
    }
    .subinfo{
      line-height: 0.8rem;
    }
  }
  
 
  
  .meta {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    padding: 0 1.875rem;
    align-items: center;
    gap: 8px;
  }
  .metaItem{
    font-size: 1.188rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 480px) {
    .meta{
      padding: 0;
    }
    .metaItem{
      font-size: 0.68rem;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  
  .label {
    display: block;
    color: #8df100;

  }
  
  .value {
    display: block;
    font-weight: 500;
  }
  