.cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding: 0 1.5rem;
    padding-top: 1rem;
    height: 100%;
    z-index: inherit;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  /* src/app/page.module.css */

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.logoContainer {
  height: 100px;
  margin: 0 auto;
  max-width: 1024px;
  margin-top: 40px;
  margin-bottom: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 480px) {
  .logoContainer {
    margin-top: 1rem;
    margin-bottom: 0;
    justify-content: center;
  }
}
.logo {
  width: auto;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/images/backgrounds/background.jpg') no-repeat center bottom;
  background-size: cover;
  z-index: -2;
}

@media (max-width: 480px) {
  .background {
    background: red bottom top  !important;
    background-size: cover;
  }
}



.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1024px;
  max-height: 720px;
  height: 90%;
  margin: auto;
  border-radius: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

@media (max-width: 480px) {
  .content {
    flex-direction: column-reverse;
    background-color: transparent;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    z-index: 10;
  }
}
.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  height: 13%;
  padding-top: 1rem;
}
@media (max-width: 480px) {
  .searchWrapper {
    padding-top: 4rem;
  }
}

.greenGrass {
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 100%;
  background: linear-gradient(to bottom, rgba(158, 223, 37, 1), rgba(30, 46, 0, 1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  z-index: -1;
}
.greenGrassShow{
  display: block;
}
.greenGrassHide{
  display: none;
}

@media (max-width: 480px) {
  .greenGrass {
    height: 12%;
    position: relative;
  }
  .greenGrassShow{
    display: none;
  }
  .greenGrassHide{
    display: block;
  }
}
.listSection {
  flex: 1;
  background: transparent;
  padding: 20px;
  padding-right: 10px;
  height: 100%;
}
.detailSection {
  flex: 1;
  background: transparent;
}


@media (max-width: 480px) {
  .listSection {
    flex: 0;
    height: 30%;
    max-height: 30%;
    padding: 0;
  }
  .detailSection {
    height: 40%;
    position: relative;
    max-height: 40%;
    padding: 0 3rem;
  }
 
}


.arrowsContainer {
  position: relative;
  height: 87%;
  width: 100%;
}
.scrollArrows {
  padding-top: 2rem;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
}
.scrollArrowsMobile{
  display: none;
}
@media (max-width: 480px) {
  .scrollArrows {
    display: none;
  }
  .scrollArrowsMobile{
    display: block;
  }
}


.arrowUp {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.arrowDown {
  position: absolute;
  right: 0;
  z-index: 2;
  bottom: 2rem;
}
.arrowDownMobile {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.arrowUpMobile {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
@media (max-width: 480px) {
  .arrowUp {
    top: calc(50% - 1rem);
    transform: rotate(90deg);
    right: 1rem;
  }
  .arrowDown {
    top: calc(50% - 1rem);
    transform: rotate(90deg);
    left: 1rem;
   
  }
}


.favsBarContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
@media (max-width: 480px) {
  .favsBarContainer{
    display: none;
  }
}
.favsBarTab {
  position: absolute;
  bottom: 0;
    right: calc(50% - 6.125rem);
}
.favsBar {
  position: absolute;
  bottom: 0;
    right: calc(50% - 6.125rem);
}
@media (max-width: 480px) {
  .favsBarTab {
    top: -2.1rem;
    bottom: auto;
    z-index: 100;
  }
  .favsBar {
    right: calc(50% - 9rem);
  }
}