.container {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    border: 1px solid #8df100;
    border-radius: 6px;
    padding: 10px 16px;
    width: 100%;
    min-width: 15rem;
    max-width: 80%;
    height: 3.5rem;
  }
  @media (max-width: 480px) {
    .container {
     background-color: transparent;
     margin-bottom: 1.5rem;
    }
  }
  .icon {
    color: #8df100;
    font-size: 18px;
    margin-right: 10px;
  }
  .userIcon{
    color: #8df100;
  }
  
  .input {
    background: none;
    border: none;
    outline: none;
    color: #8df100;
    font-size: 16px;
    flex: 1;
  }
  .input::placeholder {
      color: var(--color-primary); /* o el verde exacto del diseño */
    opacity: 0.7;
  }
  
  