.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 16px;
    padding: 12px;
    padding-bottom: 0px;
    width: 40%;
    margin-bottom: 3rem;
    max-height: 14.125rem;
    min-height: 14.125rem;
    max-width: 190px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;

  }
  @media (max-width: 480px) {
    .card {
      max-width: 45%;
      min-width: 8.75rem;
      min-height: 10.625rem;
    }
  }
  .card:hover {
    background-color: rgba(79, 79, 79, 0.8); /* #4F4F4F al 80% */
    box-shadow: 15px 15px 30px #191919;
    transform: translateY(-2px); /* opcional: sutil elevación */
  }
  
  .name {
    font-size: 12px;
    text-transform: uppercase;

    font-weight: 500;
    color: white;
    margin-bottom: 8px;
    text-align: center;
    letter-spacing: 1px;
    height: 12%;
  }

  
  .image {
    max-width: 9.063rem;
    height: 9.063rem;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  @media (max-width: 480px) {
    .image {
      max-width: 6.25rem;
      height: 6.25rem;
    }
  }
  
  .like {
    display: flex;
    font-size: 16px;
    align-items: center;
    gap: 6px;
    color: white;
  }
  
  .heartIcon {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    transition: color 0.2s;
  }
  .heartActive {
    color: #E40000;
  }
  